<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congrats! Your gym was approved</h1>
    <p>
      Hi, <%= @user.name %>, the gym you have register was approved.
    </p>
  </body>
</html>
